/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#timeText {
    -fx-font: 25px Tahoma;
    -fx-fill: slategray;
    -fx-stroke-width: 1;
	/*-fx-stroke: black;*/
}

.standardButton{
  -fx-background-image: url("../buttons/menuButton.png");
  -fx-background-size: 243px 50px;
  -fx-background-radius: 5;
  -fx-border-color: #40BA5D;
  -fx-background-radius: 0px;
  -fx-text-fill: white;
  -fx-border-width: 0 0 0 0;
  -fx-background-color: transparent;/*#37A451;*/
}
