/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
    -fx-text-fill: #8b7355;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-background-color: linear-gradient(#ffd39b, 	#eec591);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 1,1,1,1;
}
.button:hover {
    -fx-background-color: linear-gradient(#8b7d6b, #cdaa7d);
    -fx-text-fill: white;
}
#bossSelectionButton {
	-fx-background-color: linear-gradient(#cdaa7d, 	#8b7d6b);
}
#bossSelectionButton:hover{
	-fx-text-fill: #8b7355;
}
#storyModeScreen1 {
	-fx-background-color:beige;
}
#textbox {
	-fx-text-fill: #8b7355;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}
#popup {
	-fx-background-image: url("@../storyModeImages/title.png");
}

#timeText {
    -fx-font: 25px Tahoma;
    -fx-fill: slategray;
    -fx-stroke-width: 1;
}
